/* Mulish font */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
  
  *{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
  }

  header{
    max-width: calc(1920px - 200px);
    margin: auto;
}
/* nav style */
nav{
   display: flex;
   justify-content: space-between;
   padding: 50px 120px;
   align-items: center;
 
}
.title-container{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 12px;
}
nav .nav{
    list-style: none;
    display: flex;
    
}

nav a{
text-decoration: none;
margin-right: 44px;
color:  #424247;
font-size: 18px;
font-weight: 400;
line-height: normal;
}
.orange{
    color: #FF5400;
}
.title{
 color: #131318;
font-size: 36px;
font-weight: 800;
line-height: normal;
}

/* banner style */
.banner-container{
    width: 1170px;
height: 400px;
flex-shrink: 0;
border-radius: 16px;
background-repeat: no-repeat;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('../images/Group\ 13\ \(1\)\ \(1\).png');
margin: 20px 120px;
padding-top: 100px;
text-align: center;
align-self: center;
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: normal;    
}
.banner-paragraph{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 25px;
       
}

form{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
margin-top: 48px;
}
form .banner-input{
width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
color: rgba(19, 19, 24, 0.50);
text-align: left;
font-size: 16px;
font-weight: 400;
line-height: normal;
padding-left:15px ;
}
.banner-btn{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    flex-shrink: 0;    
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: normal;
}
.banner-btn i{
    padding-right: 10px;
}

/* first section */
.first{
    display: flex;
    margin: 100px 120px;
    gap: 100px;
}
.first-sec-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: normal; 
    margin-bottom: 24px;   
}
.first-sec-p1, .first-sec-p2 ,.first-sec-p3{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.first-sec-p1{
    margin-bottom: 24px;
}
.first-sec-p2{
    margin-bottom: 24px;
}
.first-sec-p3{
    margin-bottom: 46px;
}
.primary-btn{
 width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
line-height: normal;
}

/* second section */
.second{
    margin: 100px 120px;
}
 .destination-container{
    width: 100%;
    display: flex;
   flex-direction: column;
    gap: 24px; 
    align-items: center;
    margin-top: 40px;
}
.destination-container .row1{
    display: flex;
    gap: 24px;
}
.destination-container .row2{
    display: flex;
    gap: 24px;
}
.destination-container .row3{
    display: flex;
    gap: 24px;
}
.destination-container{
    position: relative;
}
.row1 .one>p  {
    position: absolute;
    z-index: 1;
     top: 15%;
     left: 20%;
}
.row1 .two>p  {
    position: absolute;
    z-index: 1;
     top: 15%;
     left:70%;
}
.row2 .three>p  {
    position: absolute;
    z-index: 1;
     top: 50%;
     left:10%;
}
.row2 .four>p  {
    position: absolute;
    z-index: 1;
     top: 50%;
     left:45%;
}
.row2 .five>p  {
    position: absolute;
    z-index: 1;
     top: 50%;
     left:85%;
}
.row1 div>p , .row2 div>p, .row3 div>p  {
color: #FFF;
font-size: 28px;
font-weight: 800;
line-height: normal;
} 
.row3 .six>p  {
    position: absolute;
    z-index: 1;
     top: 80%;
     left:12%;
}
.row3 .seven>p  {
    position: absolute;
    z-index: 1;
     top: 80%;
     left:65%;
}

  
 .second-sec-title{
color: #131318;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}
.second-sec-p{
color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
} 

/* third section */

.third{
   
        margin: 10px 120px;

}
.third-title{
color: #131318;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.third-p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 24px; 
}
.feedback-container{
    align-items: center;
    
}
.feedback-container{
    display: flex;
    gap: 24px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
}

.hotel{
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
flex-shrink: 0;
padding: 32px;
}
.hotel img ,.service img{
    padding: 16px 0px;
}

.best-price{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    flex-shrink: 0;    
    padding: 32px;
      
}
.best-price img{
    padding: 16px 0px;
}


.service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    flex-shrink: 0;    
    padding: 32px;
}
.third-img-title{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.third-description{
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 486px;    
}

/* forth section */
.forth{
    margin: 100px 120px;
}
.deal-title{
color: #131318;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.deal-p{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-top: 24px;
}
.deal-content{
    text-align: center;
    margin-bottom: 48px;
    
}

/* card style */
.dd-card1{
    background: url('../images/Group\ 39.png');
    background-repeat: no-repeat;
    width: 1170px;
height: 500px;
flex-shrink: 0;
margin-top: 24px;

}
.dd-card2{
    background: url('../images/Group\ 40.png');
    background-repeat: no-repeat;
    width: 1170px;
height: 500px;
flex-shrink: 0;
margin-top: 24px;

}
.card-left{
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 579px;
height: 389px;
flex-shrink: 0;
position: relative;
top: 55px;
left: 535px;
}
.card-right{
    border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 579px;
height: 389px;
flex-shrink: 0;
position: relative;
top: 55px;
left: 56px;
}
.dd-card-details{
    padding: 50px;
}
.card-info{
    color: #FF5400;
    
}
.card-info >i{
    padding-right: 5px;
}
.gray{
color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: normal;
/* margin-left: 20px; */
padding-right: 20px;
}
.card-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;    
    margin-top: 26px;
}
.card-p{
color: #5A5A5D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-top: 16px;
}
.price{
color: #FF5400;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-top: 16px;
}
.card-btn{
    width: 150px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;    
    border:none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    margin-top: 24px;
} 
.Package-btn-container{
    margin: 100px 120px;
    text-align: center;
    margin-top: 48px;
}
.Package-btn{
width: 210px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
line-height: normal;
}
/* fifth section */
.fifth{
    margin: 100px 120px;
    display: flex;
    gap: 45px;
    align-items: center;
   

}
.fifth-video{
   
    margin-top: 0px;
}

video{
width: 610px;
height: 424px;
flex-shrink: 0;
}
.vid-center{
    color:#ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; 
    position: relative;
    top: -220px;
    left: 80px;
}

.fifth-title{
color: #131318;
font-size: 40px;
font-weight: 800;
line-height: 60px; 
margin-bottom: 24px;
}
.fifth-p{
color: #5A5A5D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-bottom: 25px;
}
.fifth-list{
   color: #131318;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px; 
margin-bottom: 30px;
}
/* sixth section */

.sixth{
    display: flex;
    margin: 100px 120px;
    gap: 24px;
    height: 422px;
    
}
.sixth-form{
    display: block;
    border-radius:0px ;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}
hr{
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.10);
}
.sixth-form>input{
    width: 380px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
padding: 5px;

}
.subscribe-btn{
    border-radius: 8px;
    border: none;
    background: #FF5400; 
    width: 393px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: normal; 
    margin-top: 0px;   
 
}
.sixth-img img{
  width: 100%;
  
 
}
.tag-container{
    border-radius: 16px;
    background: #FF5400;
     width: 40%; 
    padding: 20px;
     transform: rotate(-19.628deg); 
    z-index: 1;  
     position: relative;
     top: -160px;
     left: 350px;
    
    
}
.tag-container>p{
color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: normal;
}
.tag-container>h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    line-height: normal;    
}

.form-conatiner{
    border-radius: 16px;
border: 1px solid #FF5400;
padding: 40px ;

}

.form-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;    
}
.form-p{
color: #5A5A5D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-top: 20px;
}















/* .......................responsive ................ */
@media screen and (max-width: 600px) {
   
    header{
        max-width: calc(600px - 20px);
        margin: auto;
    }
 
    nav {
        flex-direction: column;
         height: 64px;
         flex-shrink: 0;
          margin: 0px; 
          width: 50%;
      
    }
    nav .title{
font-size: 21.543px;
font-weight: 800;
width: 100%;

    }
    nav img{
        width: 28.724px;
height: 33.516px;
flex-shrink: 0;
    }
    nav a{
       padding: 0px;
       margin: 10px 5px;
    }
    .title-container{
        padding: 10px;
        font-size: 21.543px;
        font-weight: 800;
        width: 180px;


    }
    .banner-container{
       border-radius: 16px;
       padding: 0px;
       align-items: center;
       text-align: center;
        width: 90%; 
       height: 483px; 
       margin: 0px;
       margin-left: 25px;
     /* width: 450px;
     height: 483px; */
   
     
    }
    .banner-title{
 font-size: 22px;
font-style: normal;
font-weight: 800;
padding-top: 32px;

    }
    .banner-paragraph{
width: 90%;   
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: 21px; 

    }
  form{
    padding: 14px;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    margin-top: 10px;
    width: 70%;
   
    } 
  form .banner-input{
 width: 95%;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
    }
    .banner-btn{
width: 95%;
height: 52px;
flex-shrink: 0;
    }
    .first{
        flex-direction: column;
        /* padding: 5px; */
        margin: 20px ;
         gap: 24px; 
         width: 90%;
    }
    .first-sec-title{
 font-size: 20px;
font-style: normal;
font-weight: 800;
    }
    .first-sec-img img{
        
         margin-left: 30px; 
        width: 90%;
        
    }
    .second{
        width: 90%;
        margin: 20px;
    }
    .second-sec-title{
text-align: center;
font-size: 20px;
font-weight: 800;
margin-bottom: 20px;
    }


    .destination-container{
         
        flex-direction: column;
       
        
    }
    .row1, .row2, .row3{
      flex-direction: column;
    }
   .row1 img ,.row2 img,.row3 img{
width: 335px; 
height: 176px;
flex-shrink: 0;
   }
   .one>p, .two>p ,.three>p , .four>p , .five>p , .six>p , .seven>p{
    display: none;
   }

 /* problem   ................*/

.third{
    align-items: center;
    max-width: calc(600px - 20px);
    margin: auto
}
.third-p{
  
   width: 80%;
   margin-left: 40px;
   font-size: 14px;
font-weight: 400;
line-height: 24px;
 margin-top: 10px;
  
 
}
.third-title{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;    
}
   .hotel, .service , .best-price{
    width: 340px;
height: 289px;
flex-shrink: 0;
   }
   .third-description{
    width: 271px;
   }


   /* problem forth part*/
.forth{
    display: none;
}

  /* .forth{
    align-items: center;
    max-width: calc(600px - 20px);
    margin: auto
  } 
  .deal-title{
font-size: 20px;
font-weight: 800;
line-height: normal;
  }
  .deal-p{
 font-size: 14px;
font-weight: 400;
line-height: 24px;
width: 80%;
  }

  .dd-card1,.dd-card2{
width:80%;
height: 500px;
border-radius: 16px;
margin-left: 30px;

  }
  .card-left, .card-right{
width: 80%;
height: 430px;
flex-shrink: 0;
margin-left: 0px;

  }
  .dd-card-details{
    width: 100%;
    padding: 20px;
  }
  */

  .fifth{
    flex-direction: column;
    max-width: calc(600px - 20px);
    margin: auto;
  }
  .fifth-content{
    width:80%;
    padding: 0px;
    margin: 0px;
   
}
.fifth-title{
    color: #131318;
font-size: 30px;
font-weight: 800;
line-height: 30px; 
}
video{
    width: 335px;
    height: 200px;
  
}
.vid-center{
    width: 276px;
    top: -150px;
    left: 20px;
    text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 30px;
}
.sixth{
    flex-direction: column;
    max-width: calc(600px - 20px);
    margin: auto;
    padding: 20px;
}
.form-conatiner{
    width: 80%;
}
.sixth-form input,.subscribe-btn{
    width: 330px;
    height: 52px;
}
.tag-container{
    text-align: center;
    width: 214px;
    height: 79px;
    transform: rotate(-19.628deg);
    padding: 5px;
    left: 190px;
    top:-140px;

}
.tag-container>p, .tag-container>h3{
    font-size: 21.138px;
}


}